---
title: "The Impact of Overdoses by State"
author: "Grace Kroeger"
date: '2019-01-23'
description: ''
slug: the-impact-of-overdoses-by-state
tags:
- Health
- R
- CDC
categories:
- Health
- R
topics: []
editor_options: 
  chunk_output_type: console
---



<p>The topic of the opoid epidemic is something that really hits home for me. Many people from my hometown have struggled with addiction to opiates, some have gotten through it and found a path out of addiction, while others were not as lucky. In speaking with others from different areas of my homestate,Ohio, I know I am not alone in knowing someone who has passed away as a result of an overdose. Since this topic seems so prevalent in my state, I was interested to see how Ohio compares to the rest of the country in regards to drug overdoses. In browsing data from the Centers for Disease Control and Prevention, I found a simple spreadsheet containing age-adjusted death rates broken out by state. At this time, I was also trying to expand my data visualization skills so the first visualization in this post was created in Tableau Public. I then recreated the visualization in R to gain some practice.</p>
<p>It is disheartening, but not suprising, the see Ohio and surrounding states are suffering the most from the current drug crisis. 2017 overdose rates were highest in West Virgina, Ohio, Pennslyvania, and Kentucky.</p>
<p>The image create in Tableau is a static image. One wonderful feature about Tableau is that this graphic is interactive when published on their platform. Hovering over the cirlces, states, or bars on the chart show the rate for that state when the visualization is in interactive form.</p>
<p><img src="/img/tableau_mortality_viz.png" width="60%" style="display: block; margin: auto auto auto 0;" /></p>
<p>To gain some additional practice, I decided to recreate a portion of the Tableau visual in R Studio.</p>
<p><img src="/post/2019-01-23-the-impact-of-overdoses-by-state_files/figure-html/unnamed-chunk-10-1.svg" width="60%" style="display: block; margin: auto auto auto 0;" /></p>
<p><img src="/post/2019-01-23-the-impact-of-overdoses-by-state_files/figure-html/unnamed-chunk-11-1.svg" width="60%" style="display: block; margin: auto auto auto 0;" /></p>
