---
title: "YRBSS Youth Sexual Behaviors"
author: "Grace Kroeger"
date: '2019-01-22'
description: ''
slug: yrbss-youth-sexual-behaviors
tags:
- Health
- R
- Survey Data
categories: Health
topics: []
editor_options: 
  chunk_output_type: console
---

<script src="/rmarkdown-libs/kePrint/kePrint.js"></script>


<p>The following tables are a glance into the sexual behaviors of teens in the United States. The tables were generated using data from the 2017 Youth Risk Behavior Surveillance System (YRBSS) and formatted with the Kable package in Rstudio.</p>
<p>The YRBSS is administered by the Centers for Disease Control and Prevention (CDC) for the purpose of monitoring and understanding health behaviors. Data collection began in 1990 and the 2017 data results are the most recent data available. All of the tables in this post were generated using the 2017 data.</p>
<p>Creating this post was a good exercise in checking myself for data validity. I was able to compare my results with the YRBSS report for 2017 survey results to ensure that I had completed my data mining, clean-up, and analysis correctly.</p>
<table class="table table-striped" style="font-size: 12px; width: auto !important; margin-left: auto; margin-right: auto;">
<caption style="font-size: initial !important;">
<span id="tab:unnamed-chunk-3">Table 1: </span>60% of teens have not had sex
</caption>
<thead>
<tr>
<th style="text-align:left;">
Response
</th>
<th style="text-align:right;">
Percent
</th>
<th style="text-align:right;">
Std. Error
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Yes
</td>
<td style="text-align:right;">
36.1
</td>
<td style="text-align:right;">
0.62
</td>
</tr>
<tr>
<td style="text-align:left;font-weight: bold;color: white;background-color: #D7261E;">
No
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
63.9
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
0.62
</td>
</tr>
</tbody>
<tfoot>
<tr>
<td style="padding: 0; border: 0;" colspan="100%">
<sup>*</sup> Have you ever had sexual intercourse?
</td>
</tr>
</tfoot>
</table>
<p><br></p>
<table class="table table-striped" style="font-size: 12px; width: auto !important; margin-left: auto; margin-right: auto;">
<caption style="font-size: initial !important;">
<span id="tab:unnamed-chunk-4">Table 2: </span>More teens used condoms than not
</caption>
<thead>
<tr>
<th style="text-align:left;">
Response
</th>
<th style="text-align:right;">
Percent
</th>
<th style="text-align:right;">
Std. Error
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Never had sex
</td>
<td style="text-align:right;">
64.45
</td>
<td style="text-align:right;">
0.61
</td>
</tr>
<tr>
<td style="text-align:left;font-weight: bold;color: white;background-color: #D7261E;">
Yes
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
20.73
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
0.39
</td>
</tr>
<tr>
<td style="text-align:left;">
No
</td>
<td style="text-align:right;">
14.81
</td>
<td style="text-align:right;">
0.37
</td>
</tr>
</tbody>
<tfoot>
<tr>
<td style="padding: 0; border: 0;" colspan="100%">
<sup>*</sup> The last time you had sexual intercourse, did you or your partner use a condom?
</td>
</tr>
</tfoot>
</table>
<p><br></p>
<table class="table table-striped" style="font-size: 12px; width: auto !important; margin-left: auto; margin-right: auto;">
<caption style="font-size: initial !important;">
<span id="tab:unnamed-chunk-5">Table 3: </span>Condoms appear to be the preferred method of birth control
</caption>
<thead>
<tr>
<th style="text-align:left;">
Response
</th>
<th style="text-align:right;">
Percent
</th>
<th style="text-align:right;">
Std. Error
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Never had sex
</td>
<td style="text-align:right;">
64.81
</td>
<td style="text-align:right;">
0.65
</td>
</tr>
<tr>
<td style="text-align:left;">
No Method
</td>
<td style="text-align:right;">
5.12
</td>
<td style="text-align:right;">
0.21
</td>
</tr>
<tr>
<td style="text-align:left;">
Birth Control Pills
</td>
<td style="text-align:right;">
6.50
</td>
<td style="text-align:right;">
0.22
</td>
</tr>
<tr>
<td style="text-align:left;font-weight: bold;color: white;background-color: #D7261E;">
Condoms
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
15.92
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
0.37
</td>
</tr>
<tr>
<td style="text-align:left;">
An IUD
</td>
<td style="text-align:right;">
1.46
</td>
<td style="text-align:right;">
0.13
</td>
</tr>
<tr>
<td style="text-align:left;">
A shot
</td>
<td style="text-align:right;">
1.43
</td>
<td style="text-align:right;">
0.09
</td>
</tr>
<tr>
<td style="text-align:left;">
Withdrawal or other method
</td>
<td style="text-align:right;">
3.61
</td>
<td style="text-align:right;">
0.18
</td>
</tr>
<tr>
<td style="text-align:left;">
Not Sure
</td>
<td style="text-align:right;">
1.15
</td>
<td style="text-align:right;">
0.08
</td>
</tr>
</tbody>
<tfoot>
<tr>
<td style="padding: 0; border: 0;" colspan="100%">
<sup>*</sup> The last time you had sexual intercourse, what one method did you or your partner use to prevent pregnancy?
</td>
</tr>
</tfoot>
</table>
<p><br></p>
<div id="responses-across-different-demographic-groups" class="section level1">
<h1>Responses across different demographic groups</h1>
<p><br></p>
<table class="table table-striped" style="font-size: 12px; width: auto !important; margin-left: auto; margin-right: auto;">
<caption style="font-size: initial !important;">
<span id="tab:unnamed-chunk-6">Table 4: </span>Of the teens that did have sex, a greater percent were male
</caption>
<thead>
<tr>
<th style="text-align:left;">
Response
</th>
<th style="text-align:right;">
Female
</th>
<th style="text-align:right;">
Male
</th>
<th style="text-align:right;">
Std. Error
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;font-weight: bold;color: white;background-color: #D7261E;">
Yes
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
48.35
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
51.65
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
0.85
</td>
</tr>
<tr>
<td style="text-align:left;">
No
</td>
<td style="text-align:right;">
51.76
</td>
<td style="text-align:right;">
48.24
</td>
<td style="text-align:right;">
0.72
</td>
</tr>
</tbody>
<tfoot>
<tr>
<td style="padding: 0; border: 0;" colspan="100%">
<sup>*</sup> Have you ever had sexual intercourse? (by Gender)
</td>
</tr>
</tfoot>
</table>
<p><br></p>
<table class="table table-striped" style="font-size: 12px; width: auto !important; margin-left: auto; margin-right: auto;">
<caption style="font-size: initial !important;">
<span id="tab:unnamed-chunk-8">Table 5: </span>The majority of 12 year olds have had sex
</caption>
<thead>
<tr>
<th style="text-align:left;">
Age
</th>
<th style="text-align:right;">
Yes
</th>
<th style="text-align:right;">
No
</th>
<th style="text-align:right;">
Std. Error
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;font-weight: bold;color: white;background-color: #D7261E;">
12 yrs or less
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
73.83
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
26.17
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
9.56
</td>
</tr>
<tr>
<td style="text-align:left;">
13 yrs
</td>
<td style="text-align:right;">
8.98
</td>
<td style="text-align:right;">
91.02
</td>
<td style="text-align:right;">
2.75
</td>
</tr>
<tr>
<td style="text-align:left;">
14 yrs
</td>
<td style="text-align:right;">
14.19
</td>
<td style="text-align:right;">
85.81
</td>
<td style="text-align:right;">
0.72
</td>
</tr>
<tr>
<td style="text-align:left;">
15 yrs
</td>
<td style="text-align:right;">
23.49
</td>
<td style="text-align:right;">
76.51
</td>
<td style="text-align:right;">
0.79
</td>
</tr>
<tr>
<td style="text-align:left;">
16 yrs old
</td>
<td style="text-align:right;">
36.00
</td>
<td style="text-align:right;">
64.00
</td>
<td style="text-align:right;">
0.81
</td>
</tr>
<tr>
<td style="text-align:left;">
17 yrs old
</td>
<td style="text-align:right;">
49.44
</td>
<td style="text-align:right;">
50.56
</td>
<td style="text-align:right;">
0.80
</td>
</tr>
<tr>
<td style="text-align:left;">
18 yrs old
</td>
<td style="text-align:right;">
56.81
</td>
<td style="text-align:right;">
43.19
</td>
<td style="text-align:right;">
1.10
</td>
</tr>
</tbody>
<tfoot>
<tr>
<td style="padding: 0; border: 0;" colspan="100%">
<sup>*</sup> Have you ever had sexual intercourse? (by Age)
</td>
</tr>
</tfoot>
</table>
<p><br></p>
<table class="table table-striped" style="font-size: 12px; width: auto !important; margin-left: auto; margin-right: auto;">
<caption style="font-size: initial !important;">
<span id="tab:unnamed-chunk-9">Table 6: </span>Those identifying as Heterosexual are more sexual activity (excluding not sure identification
</caption>
<thead>
<tr>
<th style="text-align:left;">
Sexual Identity
</th>
<th style="text-align:right;">
No
</th>
<th style="text-align:right;">
Yes
</th>
<th style="text-align:right;">
Std. Error
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;font-weight: bold;color: white;background-color: #D7261E;">
Heterosexual
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
35.28
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
64.72
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
0.66
</td>
</tr>
<tr>
<td style="text-align:left;">
Gay/Lesbian
</td>
<td style="text-align:right;">
42.80
</td>
<td style="text-align:right;">
57.20
</td>
<td style="text-align:right;">
3.44
</td>
</tr>
<tr>
<td style="text-align:left;">
Bisexual
</td>
<td style="text-align:right;">
46.58
</td>
<td style="text-align:right;">
53.42
</td>
<td style="text-align:right;">
1.44
</td>
</tr>
<tr>
<td style="text-align:left;">
Not Sure
</td>
<td style="text-align:right;">
25.04
</td>
<td style="text-align:right;">
74.96
</td>
<td style="text-align:right;">
1.77
</td>
</tr>
</tbody>
<tfoot>
<tr>
<td style="padding: 0; border: 0;" colspan="100%">
<sup>*</sup> Have you ever had sexual intercourse? (by Sexual Identity)
</td>
</tr>
</tfoot>
</table>
<p><br></p>
<table class="table table-striped" style="font-size: 12px; width: auto !important; margin-left: auto; margin-right: auto;">
<caption style="font-size: initial !important;">
<span id="tab:unnamed-chunk-10">Table 7: </span>Black or African American teens are having more sex than other groups
</caption>
<thead>
<tr>
<th style="text-align:left;">
Race
</th>
<th style="text-align:right;">
Yes
</th>
<th style="text-align:right;">
No
</th>
<th style="text-align:right;">
Std. Error
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
White
</td>
<td style="text-align:right;">
35.43
</td>
<td style="text-align:right;">
64.57
</td>
<td style="text-align:right;">
0.68
</td>
</tr>
<tr>
<td style="text-align:left;font-weight: bold;color: white;background-color: #D7261E;">
Black/AA
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
41.94
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
58.06
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
1.15
</td>
</tr>
<tr>
<td style="text-align:left;">
Hispanic/Latino
</td>
<td style="text-align:right;">
37.92
</td>
<td style="text-align:right;">
62.08
</td>
<td style="text-align:right;">
0.97
</td>
</tr>
<tr>
<td style="text-align:left;">
All other races
</td>
<td style="text-align:right;">
27.59
</td>
<td style="text-align:right;">
72.41
</td>
<td style="text-align:right;">
1.87
</td>
</tr>
</tbody>
<tfoot>
<tr>
<td style="padding: 0; border: 0;" colspan="100%">
<sup>*</sup> Have you ever had sexual intercourse? (by Race)
</td>
</tr>
</tfoot>
</table>
<p><br></p>
<table class="table table-striped" style="font-size: 12px; width: auto !important; margin-left: auto; margin-right: auto;">
<caption style="font-size: initial !important;">
<span id="tab:unnamed-chunk-12">Table 8: </span>Of those having impaired sex, nearly half did not use a condom for protection
</caption>
<thead>
<tr>
<th style="text-align:left;">
Impaired Sex
</th>
<th style="text-align:right;">
Condom
</th>
<th style="text-align:right;">
No Condom
</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;">
Never had sex
</td>
<td style="text-align:right;">
0.00
</td>
<td style="text-align:right;">
0.00
</td>
</tr>
<tr>
<td style="text-align:left;font-weight: bold;color: white;background-color: #D7261E;">
Yes
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
53.18
</td>
<td style="text-align:right;font-weight: bold;color: white;background-color: #D7261E;">
46.82
</td>
</tr>
<tr>
<td style="text-align:left;">
No
</td>
<td style="text-align:right;">
59.44
</td>
<td style="text-align:right;">
40.56
</td>
</tr>
</tbody>
<tfoot>
<tr>
<td style="padding: 0; border: 0;" colspan="100%">
<sup>*</sup> Did you drink alcohol or use drugs before you had sexual intercourse the last time? Compared with, The last time you had sexual intercourse, did you or your partner use a condom?
</td>
</tr>
</tfoot>
</table>
</div>
