---
title: "United States Immigration Trends"
author: "Grace Kroeger"
date: '2019-03-04'
description: ''
editor_options:
  chunk_output_type: console
slug: immigration-trends
tags: []
categories: []
topics: []
---

<script src="/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<script src="/rmarkdown-libs/d3/d3.min.js"></script>
<link href="/rmarkdown-libs/colorbrewer/colorbrewer.css" rel="stylesheet" />
<script src="/rmarkdown-libs/colorbrewer/colorbrewer.js"></script>
<link href="/rmarkdown-libs/streamgraph/streamgraph.css" rel="stylesheet" />
<script src="/rmarkdown-libs/streamgraph-binding/streamgraph.js"></script>


<p>Ever since I came across the <a href="https://github.com/hrbrmstr/streamgraph">streamgraph package</a> I knew I had to recreate this visual! I wanted to look at data over many years to create a detailed and interesting graph so I decided on data from The Migration Policy Institute. <a href="https://www.migrationpolicy.org/about/about-migration-policy-institute">The Migration Policy Institute</a> is a non-partisan organization that seeks to provide research and analysis that will assist in the formation of better immigration policies. The data visualized in the streamgraph below show country of origin for United States immigrants from 1960 - 2017. <a href="https://www.migrationpolicy.org/programs/data-hub/us-immigration-trends">The data can be downloaded here.</a></p>
<div style="margin:auto;text-align:center">
<strong>United States Immigrant Country of Origin (per 1,000)</strong>
<br/>
<div id="htmlwidget-1" class="streamgraph html-widget" style="width:960px;height:500px;"></div>
<div id="htmlwidget-2b9defe8995215da708b-legend" style="width:960" class="streamgraph html-widget-legend"><center><label style='padding-right:5px' for='htmlwidget-2b9defe8995215da708b-select'></label><select id='htmlwidget-2b9defe8995215da708b-select' style='visibility:hidden;'></select></center></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"data":{"key":["Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe","Afghanistan","Albania","Algeria","Angola","Antigua","Argentina","Armenia","Aruba","Australia","Austria","Bahamas","Bangladesh","Barbados","Belarus","Belgium","Belize","Bermuda","Bolivia","Bosnia and Herzegovina","Brazil","Bulgaria","Burma","Burma (Myanmar)","Cambodia","Cameroon","Canada","Cape Verde","Caribbean","Chile","China","Colombia","Costa Rica","Croatia","Cuba","Cyprus","Czechoslovakia","Denmark","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Eritrea","Estonia","Ethiopia","Fiji","Finland","France","Germany","Ghana","Greece","Grenada","Guatemala","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","Jamaica","Japan","Jordan","Kazakhstan","Kenya","Korea","Kuwait","Laos","Latvia","Lebanon","Liberia","Libya","Lithuania","Luxembourg","Macau","Macedonia","Malaysia","Malta","Mexico","Moldova","Montserrat","Morocco","Nepal","Netherlands","Netherlands Antilles","New Zealand","Nicaragua","Nigeria","Norway","Pacific Islands","Pakistan","Palestine","Panama","Paraguay","Peru","Philippines","Poland","Portugal","Romania","Russia","Saudi Arabia","Scandinavia","Senegal","Serbia","Sierra Leone","Singapore","Somalia","South Africa","Soviet Union","Spain","Sri Lanka","SriLanka","St. Vincent and the Grenadines","St.Kitts-Nevis","St.Lucia","Sudan","Suriname","Sweden","Switzerland","Syria","Taiwan","Tanzania","Thailand","Tonga","Trinidad&Tobago","Tunisia","Turkey","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","West Indies","Western Samoa","Yemen","Yugoslavia","Zaire","Zambia","Zimbabwe"],"value":[0,9.618,0,0,0,16.579,0,0,22.209,304.507,0,0,0,0,50.294,2.78,0,2.168,0,13.988,8.223,0,0,0,0,952.5,8.302,193.922,6.259,99.735,12.582,5.425,0,79.15,0,227.618,85.06,0,11.883,7.67,8.316,6.31,0,13.991,0,0,67.624,111.582,989.815,0,159.167,0,5.381,0,4.816,6.503,0,245.252,2.78,12.296,0,0,0,338.722,17.724,1256.999,24.759,109.175,0,0,0,11.171,0,0,50.681,22.217,0,0,121.475,4.36,0,0,0,0,575.902,0,0,0,0,118.415,0,5.826,9.474,0,152.698,6.695,1.708,0,13.076,0.595,7.102,104.843,747.75,80.276,84.575,0,0,522.653,0,0,0,0,0,5.394,690.598,44.999,0,0,0,0,0,0,0,214.491,61.568,16.717,0,0,0,0,0,0,52.228,0,0,0,833.055,1.17,0,6.851,0,0,0,0,165.798,0,0,0,0,9.18,0,0,0,44.803,0,0,24.271,214.014,0,0,0,0,41.412,8.86,0,6.872,0,27.069,8.609,0,0,0,0,812.421,18.68,675.108,15.393,172.132,63.538,16.691,0,439.048,0,160.899,61.41,0,61.228,36.663,20.666,15.717,0,12.163,0,0,45.499,105.385,832.965,0,177.275,0,17.356,0,28.026,19.118,0,183.236,2.895,51,0,0,0,251.375,35.858,1008.533,68.576,120.235,0,0,0,38.711,0,0,41.707,22.396,0,0,76.001,3.531,0,0,0,0,759.711,0,0,0,0,110.57,0,8.117,16.125,0,97.243,8.87,6.182,0,20.046,0,21.663,184.842,548.107,119.899,70.687,0,0,334.117,0,0,0,0,0,7.667,463.462,57.488,0,0,0,0,0,0,0,127.07,49.732,14.962,0,0,0,0,20.673,0,48.085,0,0,0,686.099,5.092,0,11.348,0,0,0,0,153.745,0,0,0,3.76,7.381,3.853,1.094,3.92,68.887,0,2.597,36.12,145.607,13.993,4.989,26.847,0,36.487,14.436,8.844,14.468,0,40.919,8.463,11.236,0,20.175,1.214,842.859,10.457,1258.363,35.127,286.12,143.508,29.639,0,607.814,8.806,112.707,42.732,3.296,169.147,86.128,43.424,94.447,0,12.169,7.516,7.538,29.172,120.215,849.384,7.564,210.998,7.101,63.073,48.608,92.395,39.154,80.38,144.368,4.156,206.087,29.92,121.505,32.121,197.817,66.961,831.922,196.811,221.794,21.587,0,6.25,289.885,4.337,54.881,34.349,52.674,3.728,6.427,48.194,3.125,2.959,0,10.473,10.182,2199.221,0,1.212,9.896,0.844,103.136,5.123,11.413,44.166,25.528,63.316,30.044,30.774,0,60.74,2.858,55.496,501.44,418.128,209.968,66.994,0,17.317,216.533,0.762,0,1.963,5.598,0.691,16.103,406.022,73.735,0,5.576,4.044,1.903,1.901,2.711,1.433,77.157,42.804,22.081,75.353,3.246,54.803,5.619,65.907,3.466,51.915,3.804,0,0.534,669.149,13.278,0,33.281,231.12,0,12.582,3.093,152.967,1.411,1.346,3.183,28.444,5.627,4.629,2.252,12.022,92.563,0,3.363,42.267,87.673,21.633,21.414,43.015,0,34.366,29.957,7.972,31.303,0,82.489,8.579,19.835,0,118.833,3.161,744.83,14.368,1938.348,55.681,529.837,286.124,43.53,0,736.971,10.06,87.02,34.999,19.529,347.858,143.314,66.313,465.433,0,9.21,34.805,15.935,22.313,119.233,711.929,20.889,177.398,17.73,225.739,120.698,225.393,108.923,147.131,110.337,5.071,450.406,48.387,210.941,44.916,169.827,86.048,580.592,334.14,290.128,31.871,0,14.371,568.397,8.889,171.577,26.179,86.369,11.455,4.037,29.745,2.053,5.107,0,33.834,9.614,4298.014,0,3.493,15.541,2.262,96.198,3.426,15.415,168.659,55.35,42.24,46.463,91.889,21.07,85.737,6.057,144.199,912.674,388.328,210.122,91.106,0,12.632,158.299,2.287,0,7.217,12.889,2.437,34.707,333.725,76.415,0,14.022,12.824,7.447,6.959,4.423,2.86,53.676,39.13,36.782,244.102,6.282,106.919,10.668,115.71,4.101,55.087,6.684,0,1.656,640.145,20.766,0,42.119,543.262,0,11.408,4.933,141.516,3.387,2.954,4.767,45.195,39.341,0,0,0,125.218,65.28,0,0,63.648,28.273,95.294,52.172,38.503,33.105,0,0,53.278,98.766,212.428,34.949,0,33.905,136.978,12.241,820.771,26.682,0,80.804,0,509.872,71.87,39.138,872.716,0,83.081,30.126,17.163,687.677,298.626,113.396,817.336,0,0,69.531,0,0,151.154,706.704,65.572,165.75,29.986,480.665,211.189,419.317,282.852,0,92.017,0,1022.552,72.552,283.226,89.892,156.474,109.719,473.338,553.827,347.539,46.794,0,41.081,864.125,21.604,204.284,27.521,105.91,40.666,0,27.905,0,0,19.397,49.459,0,9177.487,21.701,0,34.703,11.157,94.57,0,0,220.335,134.94,33.09,0,223.477,0,105.177,0,278.186,1369.07,466.742,203.119,135.966,340.177,21.881,0,0,9.576,20.831,20.801,0,63.558,0,82.858,25.38,0,21.54,0,0,18.137,0,49.724,44.445,54.561,0,0,169.801,0,197.398,0,78.378,0,275.153,0,677.751,24.176,22.77,107.031,988.174,0,0,18.258,113.987,0,0,0,51.935,0,0,0,0,165.85,75.541,0,0,61.012,0,135.088,55.113,0,0,0,0,73.394,119.574,342.555,0,0,0,145.215,0,846.913,0,0,89.06,0,592.436,81.342,44.198,935.865,0,77.187,0,0,766.57,384.677,136.931,1047.124,0,0,126.748,0,0,149.481,635.238,103.051,162.203,0,720.901,250.178,509.875,405.258,0,84.07,0,1519.157,90.882,326.312,101.878,133.433,135.003,419.811,631.374,353.576,0,0,79.111,1023.956,0,192.11,0,112.84,64.1,0,0,0,0,0,0,0,11541.404,0,0,0,0,90.114,0,0,235.734,197.489,0,0,259.282,0,95.684,0,382.153,1638.413,499.702,192.316,156.318,383.077,0,0,0,0,0,0,0,79.472,0,88.15,0,0,0,0,0,0,0,0,0,64.11,0,0,186.526,0,231.515,0,88.826,0,314.355,0,691.3,49.517,0,162.524,1117.8,0,0,0,119.841,0,0,0,61.623,0,0,0,0,172.736,75.842,0,0,51.461,0,143.619,55.693,0,0,0,0,70.219,124.589,338.853,0,0,0,145.266,0,830.388,0,0,85.057,0,604.527,85.605,44.416,983.454,0,77.67,0,0,755.539,406.907,136.648,1104.39,0,0,134.547,0,0,154.786,631.99,104.842,159.272,0,700.567,242.667,530.897,430.504,0,79.047,0,1501.782,84.079,326.205,102.393,135.722,134.438,417.511,597.94,352.933,0,0,80.595,1042.58,0,190.605,0,124.187,72.125,0,0,0,0,0,0,0,11738.537,0,0,0,0,92.782,0,0,230.902,185.787,0,0,286.302,0,102.158,0,401.129,1701.126,484.777,198.119,168.867,403.072,0,0,0,0,0,0,0,78.571,0,79.88,0,0,0,0,0,0,0,0,0,54.728,0,0,195.948,0,225.528,0,93.673,0,311.011,0,681.285,50.578,0,155.492,1100.833,0,0,0,103.921,0,0,0,60.718,0,0,0,0,160.218,75.726,0,0,52.707,0,145.479,49.265,0,0,0,0,71.491,119.163,332.632,0,0,0,145.919,0,818.92,0,0,91.59,0,600.226,81.038,45.607,974.657,0,76.906,0,0,771.91,412.676,129.97,1094.993,0,0,137.012,0,0,157.636,641.417,108.802,148.336,0,739.254,258.096,534.969,460.197,0,80.333,0,1622.522,85.85,344.935,100.966,134.897,146.179,392.798,636.589,333.86,0,0,83.489,1030.691,0,189.274,0,127.737,65.373,0,0,0,0,0,0,0,11412.668,0,0,0,0,85.635,0,0,238.224,206.604,0,0,282.483,0,96.128,0,384.923,1684.802,478.569,173.303,167.966,413.37,0,0,0,0,0,0,0,79.585,0,80.858,0,0,0,0,0,0,0,0,0,66.077,0,0,199.075,0,225.242,0,105.225,0,325.78,0,687.637,46.855,0,168.592,1138.039,0,0,0,108.954,0,0,0,64.768,74.191,0,0,0,163.791,82.651,0,0,51.866,30.301,151.091,49.567,62.183,31.896,48.567,0,74.024,113.303,359.149,53.516,0,76.918,154.545,0,814.965,32.885,0,87.607,0,609.845,86.343,44.474,991.385,0,67.34,32.966,32.717,793.285,411.826,138.194,1149.895,23.84,0,148.221,36.954,0,156.379,622.608,108.647,144.173,34.145,798.682,245.596,538.582,467.943,0,77.799,0,1665.219,84.096,362.699,154.22,121.982,140.323,375.666,651.177,331.09,60.406,25.389,87.267,1004.329,21.467,191.78,26.281,123.614,72.111,0,36.16,0,0,25.429,48.459,0,11478.413,39.122,0,58.283,45.304,90.594,0,0,253.25,209.908,26.546,0,283.988,0,103.774,0,406.91,1725.894,443.173,203.409,178.295,403.781,43.166,0,0,0,32.467,28.723,0,82.339,0,80.419,42.329,0,18.343,0,0,35.821,0,41.329,40.155,60.827,0,0,203.384,0,221.067,0,105.35,0,320.11,0,694.597,42.695,49.95,157.819,1152.384,33.723,0,38.079,98.642,0,0,0,54.458,77.407,0,0,0,171.534,89.261,0,0,48.094,31.602,153.691,52.829,56.217,32.408,47.197,0,78.9,125.793,339.613,62.684,0,82.2,164.746,40.649,798.649,33.46,0,91.172,0,636.555,81.933,47.74,1104.679,0,71.755,29.441,28.54,879.187,443.173,137.799,1214.049,29.681,0,173.592,39.277,0,147.959,604.616,124.696,135.639,29.11,830.824,265.271,587.149,522.581,0,78.368,0,1780.322,99.768,356.756,159.8,124.457,127.896,364.972,659.771,319.256,63.615,22.401,88.519,1100.422,26.318,192.302,23.218,121,66.089,0,33.888,0,0,26.759,65.169,0,11711.103,33.659,0,63.165,69.458,85.987,0,0,247.593,219.309,25.637,0,299.581,0,99.419,0,428.547,1777.588,475.503,189.333,151.767,383.166,45.016,0,0,30.715,34.935,26.946,0,77.985,0,83.242,43.585,0,23.088,0,0,44.863,0,48.366,40.007,59.554,0,0,222.759,0,229.926,0,106.271,0,326.493,0,669.794,50.176,44.636,184.039,1240.542,31.781,0,40.276,97.608,0,0,0,65.56,86.01,0,0,0,162.875,85.15,0,0,48.179,34.319,184.469,49.922,56.618,26.922,45.556,0,76.626,122.529,329.861,65.202,0,95.726,160.212,40.451,786.317,35.836,0,97.337,0,658.667,78.111,41.484,1094.811,0,72.905,32.171,30.369,897.263,435.476,147.515,1264.743,34.876,0,162.044,40.897,0,160.833,608.288,130.399,138.269,28.437,850.882,259.036,592.26,490.636,0,77.485,0,1856.777,97.244,362.371,170.366,132.54,133.4,373.897,696.99,318.225,69.062,23.91,102.561,1082.613,24.466,183.768,22.257,118.395,72.262,0,36.303,0,0,25.981,58.268,0,11672.619,34.152,0,62.812,73.528,80.789,0,0,241.649,226.849,26.626,0,303.915,0,103.689,0,411.829,1813.597,461.618,183.869,164.606,399.216,56.238,0,0,30.758,33.066,30.608,0,87.699,0,91.285,45.762,0,22.061,0,0,41.552,0,47.554,37.516,64.697,0,0,239.942,0,225.115,0,96.76,0,340.468,0,684.573,44.544,51.421,189.219,1259.317,32.1,0,44.096,90.296,0,0,0,65.633,83.746,0,0,0,176.094,85.974,0,0,44.824,31.903,187.992,51.849,49.823,36.041,47.437,0,71.85,121.938,325.547,64.964,0,116.318,159.666,36.679,800.985,33.938,0,88.29,2292.233,677.068,76.678,45.295,1113.901,0,66.367,26.36,23.436,957.376,420.91,172.783,1271.859,29.438,0,200.503,39.966,0,166.215,592.431,129.177,134.956,35.271,858.53,260.268,606.365,521.682,0,69.154,0,1967.998,86.872,378.52,177.028,132.277,138.468,354.028,680.845,329.499,58.744,24.162,106.727,1084.662,27.347,198.149,24.131,121.684,73.131,0,37.158,0,0,26.321,55.067,0,11563.374,41.34,0,65.247,85.959,79.554,0,0,258.4,238.796,27.022,0,314.331,0,103.269,0,426.263,1868.316,440.312,179.619,165.819,399.128,69.19,0,0,35.765,38.564,31.049,0,85.528,0,88.665,46.411,0,23.218,0,0,46.312,0,42.726,38.702,74.902,0,0,237.05,0,239.536,0,107.948,0,342.971,0,679.483,45.065,60.438,194.287,1258.979,30.26,0,41.234,0,0,0,0,67.169,81.047,0,0,0,170.086,79.122,0,0,44.688,31.403,203.179,52.499,50.934,30.726,50.296,0,79.924,112.24,337.04,67.941,0,116.775,164.746,46.556,840.192,30.744,0,97.585,2383.831,677.231,78.659,39.026,1144.024,0,64.354,28.521,31.222,991.046,427.906,176.443,1252.067,33.93,0,195.805,38.782,0,170.394,584.184,149.377,137.084,32.82,902.293,259.815,593.98,533.598,0,74.213,0,2034.677,94.6,363.972,200.894,128.35,127.079,354.305,714.743,339.97,65.618,26.334,110.678,1070.335,22.731,196.154,24.497,124.256,78.909,0,35.514,0,0,20.237,68.956,0,11584.977,34.913,0,63.798,87.456,85.085,0,0,240.619,234.465,28.52,0,342.603,0,101.024,0,440.292,1843.989,432.601,182.473,157.302,390.934,88.894,0,0,36.16,37.559,31.293,0,95.191,0,102.475,51.268,0,23.868,0,0,41.018,0,44.87,41.491,78.934,0,0,233.547,0,232.026,0,109.667,0,345.187,0,695.489,43.541,48.197,197.724,1281.01,31.055,0,40.548,0,0,0,0,73.386,81.622,0,0,0,184.956,86.337,0,0,48.562,31.812,210.19,51.378,56.791,35.373,48.368,0,80.65,111.317,335.608,63.318,0,128.071,163.383,49.695,806.387,37.145,0,94.089,2519.964,706.826,83.337,43.067,1172.899,0,68.928,26.92,28.163,997.734,423.576,172.631,1315.474,36.967,0,214.53,43.309,0,166.291,582.727,150.305,136.906,34.184,915.595,273.019,628.003,588.301,0,65.845,0,2205.912,94.632,365.288,217.257,125.022,132.73,356.831,705.804,336.027,69.719,26.527,121.3,1079.784,29.089,193.979,21.097,119.49,82.154,0,38.186,0,0,28.14,70.774,0,11714.489,41.193,0,74.435,109.624,83.382,0,0,255.233,264.399,22.798,0,371.359,0,107.299,0,448.75,1926.292,424.46,172.922,157.315,390.977,86.682,0,0,33.628,41.171,30.732,0,92.218,0,103.689,43.071,0,23.075,0,0,33.7,0,51.232,41.504,85.737,0,0,252.477,0,220.234,0,109.408,0,332.145,0,679.112,52.516,49.181,216.187,1291.807,25.804,0,44.28,0,0,0,0,70.653,89.744,0,0,0,181.233,86.217,0,0,43.401,34.796,228.682,51.739,56.958,34.232,48.811,0,78.093,107.969,361.374,67.377,0,137.567,166.268,51.172,830.628,43.352,0,95.104,2676.697,699.399,90.109,36.978,1210.674,0,66.631,29.039,32.37,1063.239,441.257,185.872,1352.357,39.063,0,228.745,41.936,0,173.561,585.298,155.532,141.325,29.982,927.593,281.408,675.546,599.03,0,70.255,0,2389.639,90.833,394.223,215.193,120.144,129.68,352.492,711.134,335.767,81.767,29.859,129.905,1060.019,31.781,197.016,21.364,119.613,79.497,0,31.458,0,0,26.277,69.308,0,11643.298,43.564,0,71.654,120.886,88.58,0,0,256.171,323.635,24.982,0,379.435,0,103.625,0,445.921,1982.369,419.332,176.803,159.546,386.529,96.783,0,0,36.969,42.065,36.252,89.153,94.141,0,108.953,52.971,0,22.95,0,0,46.037,0,46.335,37.115,82.681,0,0,247.205,0,227.295,0,116.336,0,345.62,0,683.473,43.971,65.375,255.52,1300.515,33.011,0,44.337,0,0,0,0,94.726,93.033,0,0,0,189.126,90.946,0,0,44.943,33.163,234.64,54.374,62.514,35.406,48.918,0,79.461,101.638,409.595,70.8,0,142.494,152.415,49.43,783.206,44.519,0,93.647,2716.548,704.587,85.133,39.747,1271.618,0,65.982,33.715,31.22,1085.321,439.123,181.677,1387.022,43.01,0,244.924,43.406,0,175.25,563.985,171.428,135.484,36.056,935.707,266.368,668.223,651.059,0,62.296,0,2434.524,94.453,386.073,221.587,125.84,142.078,335.763,736.303,355.156,81.93,32.017,129.67,1041.727,36.659,183.894,24.691,128.608,88.09,0,33.64,0,0,26.171,78.459,0,11573.68,42.403,0,80.384,129.45,79.902,0,0,243.024,306.874,22.669,0,382.852,0,94.958,0,427.445,1941.665,424.928,176.638,161.629,397.236,99.849,0,0,37.654,38.101,28.94,93.02,104.889,0,105.975,55.049,0,19.897,0,0,39.346,0,48.294,38.144,96.694,0,0,253.585,0,242.661,0,120.745,0,347.759,0,696.896,42.181,62.713,290.224,1352.76,28.044,0,61.68,0,0,0,0,100.367,96.178,0,0,0,180.521,94.946,0,0,47.831,32.507,248.696,56.191,67.762,36.897,48.874,0,72.313,101.875,451.084,67.028,0,160.275,153.199,56.799,809.267,46.792,0,101.068,2843.838,783.032,83.075,35.962,1311.803,0,66.715,29.376,33.509,1162.568,454.178,184.359,1401.832,49.134,0,249.991,52.528,0,185.775,552.64,164.61,130.967,34.117,958.842,268.577,679.752,655.362,0,64.742,0,2610.537,101.232,395.429,232.418,120.187,142.934,333.911,744.658,344.453,78.398,30.035,138.15,1063.074,33.204,186.035,23.201,124.847,93.891,0,35.001,0,0,24.67,74.451,0,11269.913,47.156,0,84.271,152.685,85.739,0,0,262.82,344.979,23.024,0,391.976,0,106.672,0,458.785,2008.08,418.775,172.945,165.199,403.67,82.201,0,0,38.203,40.161,34.604,106.525,111.72,0,117.884,49.116,0,23.689,0,0,47.075,0,43.648,36.859,104.234,0,0,256.136,0,234.534,0,117.366,0,354.494,0,702.567,50.68,58.337,351.144,1342.568,25.364,0,60.608,0,0,0,0],"date":["1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1960-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1970-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1980-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","1990-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2000-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2006-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2007-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2008-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2009-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2010-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2011-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2012-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2013-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2014-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2015-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2016-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01","2017-01-01"]},"markers":null,"annotations":null,"offset":"zero","interactive":true,"interpolate":"linear","palette":"Spectral","text":"black","tooltip":"black","x_tick_interval":5,"x_tick_units":"year","x_tick_format":"%Y","y_tick_count":5,"y_tick_format":",g","top":20,"right":40,"bottom":30,"left":50,"legend":true,"legend_label":"C- CountryofBirth: ","fill":"brewer","label_col":"black","x_scale":"date"},"evals":[],"jsHooks":[]}</script>
</div>
